body {
  margin: 0px;
}
.PC {
  display: none;
}
#mainpic {

  float: left;
  width: 100%;
  z-index: -1;
}
#viertelkreis {
  position: absolute;
  left: 0px;
  width: 10%;
  z-index: 1;
}
#logo {
  position: absolute;
  display: inline-block;
  margin-top: 10%;
  left: 35%;
  right: 35%;
  width: 30%;
}


.dropdown {
  float: left;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}
.dropdown .dropbtn {
  font: bold;
  border: none;
  outline: none;
  color: green;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn {
    width: 20%;
    margin: 0px;
    padding: 0px;
}
#pic {
    margin: 5px;
    position: relative;
    width: 20%;
    float: left;
}
#hamburger {
  width: 100px;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #fcc509;
  min-width: 160px;
  max-width: 400px;
    max-width: 30%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    font-family: Arial;
    font-weight: bold;
}
.dropdown-content a:hover {
  background-color: #231e24;
    color: #fcc509;
}
.dropdown:hover .dropdown-content {
  display: block;
 }

/*------------------------------------------------------------------------*/
@media screen and (min-width:720px){
    .Handy {
        display: none
    }
    .PC {
        display: block;
    }
    #navbar {
        width: 100%;
        background-color: #fcc509;
        display: inline-block;
    }
    #navbar-center {
        padding: 20px 5px 20px 5px;
    }
    #navbar a {
        border: solid black 1px;
        border-radius: 10px;

        background-color: #fcc509;

        text-decoration: none;
        color: black;
        width: 20%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-right: 0.75%;
    }
    #navbar a img {
        margin-left: 0.5%;
        margin-right: 2px;
        margin-top: 0px;
        margin-bottom: 0.5px;
        width: auto;
        height: 10px;
    }

    #hi{
    }
}
